version: '3.8'
services:
  app:
    build:
      context: ./
    ports:
      - 8080:8080
    command: npm run start
    environment:
      NODE_ENV: development
    volumes:
      - .:/bin/app
      - node_modules
